<div class="mb-8 flex flex-col gap-y-8">
    <!-- <div class="text-gray-700 text-md font-medium">Inscription en cours</div> -->
    <div class="overflow-x-auto">
        <div class="w-full flex items-start p-0 pb-3">
            <ng-container *ngFor="let item of items; index as i">
                <div class="flex-1">
                    <a role="button" [ngClass]="item.isBlocked ? 'cursor-not-allowed' : (i > 0 && items[i - 1].condition) || i == 0 ? 'cursor-pointer' : 'cursor-not-allowed'" (click)="item.isBlocked ? null : (i > 0 && items[i - 1].condition) || i == 0 ? item.action() : null">
                        <div [ngClass]="item.condition ? item.incomplete ? incompleteColor : activeColor : inactiveColor" class="w-10 h-10 mx-auto rounded-full text-lg text-white flex items-center">
                            <span [ngClass]="item.condition ? 'text-white' : 'text-gray-700'" class="text-center w-full">{{ i + 1 }}</span>
                        </div>
                    </a>
                    <div class="text-gray-500 font-medium text-center text-sm mt-4" style="width: 80px !important;">
                        {{ item.text }}
                    </div>
                </div>
        
        
                <div *ngIf="i != items.length - 1" class="w-full align-center items-center align-middle content-center flex pt-4" style="min-width: 40px;">
                    <div [ngClass]="inactiveColor" class="w-full rounded items-center align-middle align-center flex-1">
                         <div [style.width]="items[i + 1].condition ? '100%' : item.condition ? '50%' : '0%'" [ngClass]="activeColor" class="text-xs leading-none py-1 text-center text-gray-400 rounded" style="width: 100%"></div>
                    </div>
                </div>
            </ng-container>        
        </div>
        
        <!-- <div class="flex text-xs content-center text-center">
            <div class="w-1/4">
                Informations personnelles
            </div>
            
            <div class="w-1/4">
                Filière
            </div>
            
            <div class="w-1/4">
                Cours
            </div>
            
            <div class="w-1/4">
                Paiements
            </div>
        </div> -->
    </div>
</div>