<div class="flex justify-between items-start mb-8">
    <app-header-title title="Immobilisations" subtitle="Retrouver la liste de vos immobilisations"></app-header-title>
    <div class="flex justify-end items-center">
        <app-custom-button *ngIf="rolesValue.isInstitution || rolesValue.isCaissierBanque || rolesValue.isAdmin" link="/immobilisations/nouveau" text="Nouvelle immobilisation"></app-custom-button>
    </div>
</div>

<div class="flex flex-col">
    <div class="overflow-x-auto">
        <div class="py-2 inline-block min-w-full">
            <div class="overflow-hidden">
                <table class="min-w-full">
                    <thead class="bg-gray-100 border-b">
                        <tr>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-left">
                                <div class="px-2">
                                    #
                                </div>
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-left">
                                <div class="px-2">
                                    Nom
                                </div>
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-left">
                                <div class="px-2">
                                    Référence
                                </div>
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-left">
                                <div class="px-2">
                                    État
                                </div>
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-left">
                                <div class="px-2">
                                    Site
                                </div>
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-right">
                                <div class="px-2">
                                    Valeur
                                </div>
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-right">
                                <div class="px-2">
                                    Action
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="immobilisations.length == 0"
                            class="bg-white p-0 border-b transition duration-300 ease-in-out">
                            <td class="text-sm text-center py-4 text-gray-600 font-regular p-0 whitespace-nowrap"
                                colspan="7">Aucune immobilisation</td>
                        </tr>
                        <tr *ngFor="let immo of immobilisations; index as index"
                            class="bg-white hover:bg-gray-100 p-0 border-b transition duration-300 ease-in-out">
                            <td
                                class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div
                                    class="block gap-x-4 border-0 m-0 px-0 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">
                                    {{ index + 1 }}
                                </div>
                            </td>
                            <td
                                class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div class="block w-full h-full border-0 m-0 px-2 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">{{ immo.nom }}</div>
                            </td>
                            <td
                                class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div class="block w-full h-full border-0 m-0 px-2 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">{{ immo.reference }}</div>
                            </td>
                            <td
                                class="bg-transparent text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <app-custom-badge color="blue" [text]="immo.etat || '---'"></app-custom-badge>
                            </td>
                            <td
                                class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div class="block w-full h-full border-0 m-0 px-2 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">{{ immo.siteId || '---' }}</div>
                            </td>
                            <td
                                class="bg-transparent text-right text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div class="block w-full h-full border-0 m-0 px-2 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">{{ immo.valeurAcquisition | currency:'XAF' }}</div>
                            </td>
                            <td
                                class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div
                                    class="block flex justify-end gap-x-4 border-0 m-0 px-0 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">
                                    <app-custom-button [link]="'/immobilisations/' + immo.id" text="Details"></app-custom-button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
