:host {
  display: block;
}

:host ::ng-deep .material-symbols-outlined {
  font-family: 'Material Symbols Outlined', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
}

::ng-deep .app-dossier-view .app-dossier-view {
  border: none;
  border-radius: 0;
}

::ng-deep .app-dossier-view .app-dossier-view .divide-y > div:last-child {
  border-bottom: none;
}
