<div class="flex justify-between items-start gap-x-8 mb-8">
    <app-header-title title="Commandes" subtitle="Gérer les bons de commande"></app-header-title>
</div>

<div class="flex flex-col">
    <div class="overflow-x-auto">
        <div class="py-2 inline-block min-w-full">
            <div class="overflow-hidden">
                <table class="min-w-full">
                    <thead class="bg-gray-100 border-b">
                        <tr>
                            <th class="text-sm font-medium text-gray-900 px-2 py-4 text-left">#</th>
                            <th class="text-sm font-medium text-gray-900 px-2 py-4 text-left">Demande</th>
                            <th class="text-sm font-medium text-gray-900 px-2 py-4 text-left">Fournisseur</th>
                            <th class="text-sm font-medium text-gray-900 px-2 py-4 text-left">Date</th>
                            <th class="text-sm font-medium text-gray-900 px-2 py-4 text-left">Statut</th>
                            <th class="text-sm font-medium text-gray-900 px-2 py-4 text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td colspan="6" class="text-center py-4 text-sm text-gray-500">Aucune commande</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
