<div class="mb-8">
    <app-header-title title="Budgets" subtitle="Gérer les budgets et engagements"></app-header-title>
</div>

<div class="flex flex-col">
    <div class="overflow-x-auto">
        <div class="py-2 inline-block min-w-full">
            <div class="overflow-hidden">
                <table class="min-w-full">
                    <thead class="bg-gray-100 border-b">
                        <tr>
                            <th class="text-sm font-medium text-gray-900 px-2 py-4 text-left">#</th>
                            <th class="text-sm font-medium text-gray-900 px-2 py-4 text-left">Département</th>
                            <th class="text-sm font-medium text-gray-900 px-2 py-4 text-left">Période</th>
                            <th class="text-sm font-medium text-gray-900 px-2 py-4 text-left">Alloué</th>
                            <th class="text-sm font-medium text-gray-900 px-2 py-4 text-left">Utilisé</th>
                            <th class="text-sm font-medium text-gray-900 px-2 py-4 text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td colspan="6" class="text-center py-4 text-sm text-gray-500">Aucun budget</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
