<app-custom-alert [show]="error || alreadyExists" title="Erreur">
    {{ error ? 'Une erreur est survenue lors de la création' : '' }}
    {{ alreadyExists ? 'Cette immobilisation existe déjà.\nVeuillez changer la référence' : '' }}
</app-custom-alert>

<app-return-back></app-return-back>

<div class="flex justify-between items-start mb-8">
    <app-header-title title="Nouvelle immobilisation" subtitle="Veuillez renseigner les informations ci-dessous pour ajouter une nouvelle immobilisation"></app-header-title>
    <div class="flex justify-end items-center">
    </div>
</div>

<div class="w-full mb-8">
    <form [formGroup]="immobilisationForm" id="immobilisationForm">
        <div class="grid grid-cols-6 md:gap-x-24 gap-x-0 gap-y-10 mb-8">
            <div class="md:col-span-3 col-span-full">
                <label for="nom" class="mb-2 block text-sm leading-6 text-gray-600">Nom</label>
                <input type="text" id="nom" formControlName="nom" placeholder="Saisir le nom ici..."
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:bg-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                <div *ngIf="immobilisationForm.get('nom')!.invalid && (immobilisationForm.get('nom')!.dirty || immobilisationForm.get('nom')!.touched)">
                    <app-form-message *ngIf="immobilisationForm.get('nom')!.errors?.['required']"
                        text="Veuillez saisir le nom"></app-form-message>
                </div>
            </div>
            <div class="md:col-span-3 col-span-full">
                <label for="reference" class="mb-2 block text-sm leading-6 text-gray-600">Référence</label>
                <input type="text" id="reference" formControlName="reference" placeholder="Saisir la référence ici..."
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:bg-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                <app-form-message *ngIf="alreadyExists"
                    text="Référence déjà utilisée"></app-form-message>
                <div *ngIf="immobilisationForm.get('reference')!.invalid && (immobilisationForm.get('reference')!.dirty || immobilisationForm.get('reference')!.touched)">
                    <app-form-message *ngIf="immobilisationForm.get('reference')!.errors?.['required']"
                        text="Veuillez saisir la référence"></app-form-message>
                </div>
            </div>
            <div class="md:col-span-3 col-span-full">
                <label for="categorieId" class="mb-2 block text-sm leading-6 text-gray-600">Catégorie</label>
                <select id="categorieId" formControlName="categorieId"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:bg-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    <option *ngFor="let categorie of categories" [value]="categorie.id">{{ categorie.nom }}</option>
                </select>
            </div>
            <div class="md:col-span-3 col-span-full">
                <label for="siteId" class="mb-2 block text-sm leading-6 text-gray-600">Site</label>
                <select id="siteId" formControlName="siteId"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:bg-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    <option *ngFor="let site of sites" [value]="site.id">{{ site.nom }}</option>
                </select>
            </div>
            <div class="md:col-span-3 col-span-full">
                <label for="departementId" class="mb-2 block text-sm leading-6 text-gray-600">Département</label>
                <select id="departementId" formControlName="departementId"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:bg-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    <option *ngFor="let dep of departements" [value]="dep.id">{{ dep.nom }}</option>
                </select>
            </div>
            <div class="md:col-span-3 col-span-full">
                <label for="localisationId" class="mb-2 block text-sm leading-6 text-gray-600">Localisation</label>
                <select id="localisationId" formControlName="localisationId"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:bg-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    <option *ngFor="let loc of localisations" [value]="loc.id">{{ loc.code }}</option>
                </select>
            </div>
            <div class="md:col-span-3 col-span-full">
                <label for="etat" class="mb-2 block text-sm leading-6 text-gray-600">État</label>
                <select id="etat" formControlName="etat"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:bg-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    <option value="neuf">Neuf</option>
                    <option value="bon">Bon</option>
                    <option value="moyen">Moyen</option>
                    <option value="mauvais">Mauvais</option>
                    <option value="hors-service">Hors service</option>
                </select>
            </div>
            <div class="md:col-span-3 col-span-full">
                <label for="dateMiseEnService" class="mb-2 block text-sm leading-6 text-gray-600">Date de mise en service</label>
                <input type="date" id="dateMiseEnService" formControlName="dateMiseEnService"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:bg-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
            <div class="md:col-span-3 col-span-full">
                <label for="valeurAcquisition" class="mb-2 block text-sm leading-6 text-gray-600">Valeur d'acquisition</label>
                <input type="number" min="0" id="valeurAcquisition" formControlName="valeurAcquisition" placeholder="Saisir la valeur ici..."
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:bg-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
            <div class="col-span-full">
                <label for="responsableNom" class="mb-2 block text-sm leading-6 text-gray-600">Responsable</label>
                <input type="text" id="responsableNom" formControlName="responsableNom" placeholder="Saisir le nom du responsable ici..."
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:bg-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
            <div class="col-span-full">
                <label for="description" class="mb-2 block text-sm leading-6 text-gray-600">Description (facultative)</label>
                <textarea rows="5" id="description" formControlName="description"
                    placeholder="Saisir la description ici..."
                    class="w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:bg-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
            </div>
        </div>

        <div class="w-full flex justify-end items-center pb-12">
            <app-custom-button (click)="create()" text="Enregistrer"></app-custom-button>
        </div>
    </form>
</div>
