<div class="flex justify-between items-start mb-8">
    <app-header-title title="Gestion des shifts" subtitle="Créez et gérez les horaires de travail"></app-header-title>
    <app-custom-button (click)="nouvelleShift()" text="Nouveau shift"></app-custom-button>
</div>

<div *ngIf="shifts.length == 0" class="text-center py-8 text-gray-500">Aucun shift trouvé</div>

<div *ngIf="shifts.length > 0" class="flex flex-col">
    <div class="overflow-x-auto">
        <div class="py-2 inline-block min-w-full">
            <div class="overflow-hidden">
                <table class="min-w-full">
                    <thead class="bg-gray-100 border-b">
                        <tr>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-left"><div class="px-2">#</div></th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-left"><div class="px-2">Nom</div></th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-left"><div class="px-2">Début</div></th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-left"><div class="px-2">Fin</div></th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-left"><div class="px-2">Jours</div></th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-left"><div class="px-2">Statut</div></th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-left"><div class="px-2">Actions</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let shift of shifts; index as index"
                            class="bg-white hover:bg-gray-100 p-0 border-b transition duration-300 ease-in-out">
                            <td class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div class="block gap-x-4 border-0 m-0 px-0 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">{{ index + 1 }}</div>
                            </td>
                            <td class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div class="block w-full h-full border-0 m-0 px-2 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">{{ shift.nom }}</div>
                            </td>
                            <td class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div class="block w-full h-full border-0 m-0 px-2 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">
                                    <app-custom-badge color="blue" [text]="shift.heureDebut"></app-custom-badge>
                                </div>
                            </td>
                            <td class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div class="block w-full h-full border-0 m-0 px-2 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">
                                    <app-custom-badge color="orange" [text]="shift.heureFin"></app-custom-badge>
                                </div>
                            </td>
                            <td class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div class="block w-full h-full border-0 m-0 px-2 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">{{ shift.jours.join(', ') }}</div>
                            </td>
                            <td class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div class="block w-full h-full border-0 m-0 px-2 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">
                                    <app-custom-badge *ngIf="shift.actif" color="green" text="Actif"></app-custom-badge>
                                    <app-custom-badge *ngIf="!shift.actif" color="red" text="Inactif"></app-custom-badge>
                                </div>
                            </td>
                            <td class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div class="block w-full h-full border-0 m-0 px-2 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">
                                    <app-custom-button (click)="editShift(shift.id)" text="Modifier" color="blue"></app-custom-button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
