<div class="flex justify-between items-start mb-8">
    <app-header-title title="Paiements" subtitle="Retrouver la liste des paiements effectués en ligne et en espèces"></app-header-title>
    <div class="flex justify-end items-center">
        <app-custom-button (click)="showNouveauPaiementModal = true" *ngIf="(rolesValue.isInstitution || rolesValue.isCaissierBanque)" text="Nouveau paiement"></app-custom-button>
    </div>
</div>

<div class="mb-8">
    <div class="overflow-x-auto">
        <div class="py-2 inline-block min-w-full">
            <div class="overflow-hidden">
                <table class="min-w-full">
                    <thead class="bg-gray-100 border-b">
                        <tr>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-left">
                                <div class="px-2">
                                    #
                                </div>
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-left">
                                <div class="px-2">
                                    Numéro
                                </div>
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-left">
                                <div class="px-2">
                                    Matricule d'inscription
                                </div>
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-left">
                                <div class="px-2">
                                    Date de paiement
                                </div>
                            </th>
                            <th *ngIf="!rolesValue.isCaissierBanque" scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-left">
                                <div class="px-2">
                                    Type
                                </div>
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-right">
                                <div class="px-2">
                                    Montant
                                </div>
                            </th>
                            <th *ngIf="(rolesValue.isInstitution || rolesValue.isCaissierBanque)" scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-right">
                                <div class="px-2">
                                    Action
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="paiementsInscription.length == 0"
                            class="bg-white p-0 border-b transition duration-300 ease-in-out">
                            <td class="text-sm text-center py-4 text-gray-600 font-regular p-0 whitespace-nowrap"
                                colspan="5">Aucun paiement effectué</td>
                        </tr>
                        <tr *ngFor="let paiement of paiementsInscription; index as index"
                            class="bg-white hover:bg-gray-100 p-0 border-b transition duration-300 ease-in-out">
                            <td
                                class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div
                                    class="block gap-x-4 border-0 m-0 px-0 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">
                                    {{ index + 1 }}
                                </div>
                            </td>
                            <td
                                class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div class="block w-full h-full border-0 m-0 px-2 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">{{ paiement.numero }}</div>
                            </td>
                            <td
                                class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div class="block w-full h-full border-0 m-0 px-2 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">{{ paiement.matriculeInscription }}</div>
                            </td>
                            <td
                                class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div class="block w-full h-full border-0 m-0 px-2 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">{{ paiement.datePaiement! | date: 'dd/MM/YYYY' }} à {{ paiement.datePaiement! | date:
                                    'HH:mm' }}</div>
                            </td>
                            <td *ngIf="!rolesValue.isCaissierBanque" class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2"
                                [ngSwitch]="paiement.type">
                                <app-custom-badge *ngSwitchCase="typesPaiement.EN_LIGNE" color="green" text="En ligne"></app-custom-badge>
                                <app-custom-badge *ngSwitchCase="typesPaiement.BANCAIRE" color="blue" text="Bancaire"></app-custom-badge>
                                <app-custom-badge *ngSwitchDefault text="En espèces"></app-custom-badge>
                            </td>
                            <td
                                class="bg-transparent text-right text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div class="block w-full h-full border-0 m-0 px-2 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">{{ paiement.montant | currency:'XAF' }}</div>
                            </td>
                            <td *ngIf="(rolesValue.isInstitution || rolesValue.isCaissierBanque)"
                                class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div
                                    class="block flex justify-end gap-x-4 border-0 m-0 px-0 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">
                                    <span>
                                        <app-custom-button (click)="openDetailsPaiementModal(paiement)" text="Détails"></app-custom-button>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <!-- <tr
                            class="bg-white font-bold hover:bg-gray-100 p-0 border-b transition duration-300 ease-in-out">
                            <td
                                class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div
                                    class="block gap-x-4 border-0 m-0 px-0 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">
                                </div>
                            </td>
                            <td
                                class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div class="block w-full h-full border-0 m-0 px-2 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">Total</div>
                            </td>
                            <td
                                class="bg-transparent text-right text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div class="block w-full h-full border-0 m-0 px-2 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">{{ fraisTotal | currency:'XAF' }}</div>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<app-custom-modal title="Nouveau paiement" subtitle="Régler un paiement de frais d'inscription" (onCloseModal)="closeNouveauPaiementModal()" [center]="true" [showModal]="showNouveauPaiementModal">
    <div *ngIf="(rolesValue.isInstitution || rolesValue.isCaissierBanque) && demandeInscription"
        class="flex md:flex-row flex-col gap-y-6 justify-between md:items-start md-items-end w-full border-0 py-4 mb-6">
        <div class="flex items-center gap-x-4">
            <img class="object-cover w-16 h-16 rounded-full border-2 border-gray-300"
                [src]="demandeInscription.utilisateur!.apprenant?.photo ? PHOTOS_PATH + demandeInscription.utilisateur!.apprenant?.photo : 'assets/images/blank-profile-picture.png'"
                alt="">
            <div class="flex flex-col justify-evenly h-16">
                <h2 class="text-md font-semibold text-gray-800 dark:text-white">
                    {{ demandeInscription.utilisateur!.nom + ' ' + demandeInscription.utilisateur!.prenoms }}
                </h2>
                <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{ demandeInscription.utilisateur!.email }}</p>
            </div>
        </div>
    </div>

    <form [formGroup]="paiementForm" class="">
        <div class="grid grid-cols-6 md:gap-x-24 gap-x-0 gap-y-10 mb-8">
            <div class="col-span-full">
                <span class="mb-2 block text-sm text-gray-400">Matricule du dossier d'inscription</span>
                <input type="text" id="matriculeInscription" formControlName="matriculeInscription" (keyup.enter)="getDemandeInscription(paiementForm.get('matriculeInscription')!.value)" placeholder="Saisir le matricule ici..."
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:bg-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
    
                <div
                    *ngIf="paiementForm.get('matriculeInscription')!.invalid && (paiementForm.get('matriculeInscription')!.dirty || paiementForm.get('matriculeInscription')!.touched)">
                    <app-form-message *ngIf="paiementForm.get('matriculeInscription')!.errors?.['required']"
                        text="Veuillez saisir le matricule"></app-form-message>
                </div>
                <app-form-message *ngIf="matriculeNotExists" text="Matricule introuvale (ce matricule n'est associé à aucune demande)"></app-form-message>
            </div>
            <div class="col-span-full">
                <span class="mb-2 block text-sm text-gray-400">Montant</span>
                <input type="number" min="0" id="montant" formControlName="montant" placeholder="Saisir le montant ici..."
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:bg-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
    
                <div
                    *ngIf="paiementForm.get('montant')!.invalid && (paiementForm.get('montant')!.dirty || paiementForm.get('montant')!.touched)">
                    <app-form-message *ngIf="paiementForm.get('montant')!.errors?.['required']"
                        text="Veuillez entrer le montant"></app-form-message>
                </div>
            </div>
            <div class="col-span-full">
                <span class="mb-2 block text-sm text-gray-400">Description (facultative)</span>
                <textarea rows="5" id="description" formControlName="description"
                    placeholder="Saisir la description ici..."
                    class="w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:bg-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
            </div>
        </div>
    </form>
    <div class="flex items-center justify-between py-3">
        <app-custom-button (click)="closeNouveauPaiementModal()" text="Annuler" [outlined]="true" color="gray"></app-custom-button>
        <app-custom-button (click)="ajouterPaiement()" text="Enregistrer"></app-custom-button>
    </div>
</app-custom-modal>

<app-custom-modal title="Détails " subtitle="Régler un paiement de frais d'inscription" (onCloseModal)="closeDetailsPaiementModal()" [center]="true" [showModal]="showDetailsPaiementModal">
    <div *ngIf="(rolesValue.isInstitution || rolesValue.isCaissierBanque) && demandeInscription"
        class="flex md:flex-row flex-col gap-y-6 justify-between md:items-start md-items-end w-full border-0 py-4 mb-6">
        <div class="flex items-center gap-x-4">
            <img class="object-cover w-16 h-16 rounded-full border-2 border-gray-300"
                [src]="demandeInscription.utilisateur!.apprenant?.photo ? PHOTOS_PATH + demandeInscription.utilisateur!.apprenant?.photo : 'assets/images/blank-profile-picture.png'"
                alt="">
            <div class="flex flex-col justify-evenly h-16">
                <h2 class="text-md font-semibold text-gray-800 dark:text-white">
                    {{ demandeInscription.utilisateur!.nom + ' ' + demandeInscription.utilisateur!.prenoms }}
                </h2>
                <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{ demandeInscription.utilisateur!.email }}</p>
            </div>
        </div>
    </div>

    <form *ngIf="selectedPaiement">
        <div class="grid grid-cols-6 md:gap-x-24 gap-x-0 gap-y-10 mb-8">
            <div class="col-span-3">
                <span class="mb-2 block text-sm text-gray-400">Matricule du dossier d'inscription</span>
                <input type="text" id="matriculeInscription" readonly [value]="selectedPaiement.matriculeInscription"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:bg-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
            <div class="col-span-3">
                <span class="mb-2 block text-sm text-gray-400">Montant</span>
                <input type="number" min="0" id="montant" readonly [value]="selectedPaiement.montant" 
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:bg-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
            <div class="col-span-full" *ngIf="selectedPaiement.type == typesPaiement.BANCAIRE">
                <span class="mb-2 block text-sm text-gray-400">Référence bancaire</span>
                <input type="text" readonly [value]="selectedPaiement.referenceBancaire"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:bg-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
            <div class="col-span-full">
                <span class="mb-2 block text-sm text-gray-400">Description (facultative)</span>
                <textarea rows="5" id="titre"  readonly
                    class="w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:bg-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">{{selectedPaiement.description}}</textarea>
            </div>
        </div>
    </form>
    <!-- <div class="flex items-center justify-between py-3">
        <app-custom-button (click)="closeNouveauPaiementModal()" text="Annuler" [outlined]="true" color="gray"></app-custom-button>
        <app-custom-button (click)="ajouterPaiement()" text="Enregistrer"></app-custom-button>
    </div> -->
</app-custom-modal>

<!-- <app-custom-modal *ngIf="selectedPaiement" title="Editer" subtitle="Mettre à jour les informations de ce paiement d'inscription" (onCloseModal)="closeEditerPaiementModal()" [center]="true" [showModal]="showEditerPaiementModal">
    <form [formGroup]="paiementForm" class="">
        <div class="grid grid-cols-6 md:gap-x-24 gap-x-0 gap-y-10 mb-8">
            <div class="col-span-full">
                <span class="mb-2 block text-sm text-gray-400">Titre</span>
                <input type="text" id="titre" formControlName="titre" placeholder="Saisir le titre ici..."
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:bg-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
    
                <div
                    *ngIf="paiementForm.get('titre')!.invalid && (paiementForm.get('titre')!.dirty || paiementForm.get('titre')!.touched)">
                    <app-form-message *ngIf="paiementForm.get('titre')!.errors?.['required']"
                        text="Veuillez saisir le titre"></app-form-message>
                </div>
            </div>
            <div class="col-span-full">
                <span class="mb-2 block text-sm text-gray-400">Montant</span>
                <input type="number" min="0" id="montant" formControlName="montant" placeholder="Saisir le montant ici..."
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:bg-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
    
                <div
                    *ngIf="paiementForm.get('montant')!.invalid && (paiementForm.get('montant')!.dirty || paiementForm.get('montant')!.touched)">
                    <app-form-message *ngIf="paiementForm.get('montant')!.errors?.['required']"
                        text="Veuillez entrer le montant"></app-form-message>
                </div>
            </div>
            <div class="col-span-full">
                <span class="mb-2 block text-sm text-gray-400">Ce paiement doit-il être appliqué à chaque cours suivant leur coefficient ?</span>
                <div class="flex items-center py-1 gap-x-4">
                    <div class="flex items-center gap-x-3">
                        <input id="oui" formControlName="paiementDesCours" type="radio" [value]="true"
                            class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                        <label for="oui" class="block text-sm font-regular leading-6 text-gray-700">Oui</label>
                    </div>
                    <div class="flex items-center gap-x-3">
                        <input id="non" formControlName="paiementDesCours" type="radio" [value]="false"
                            class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                        <label for="non" class="block text-sm font-regular leading-6 text-gray-700">Non</label>
                    </div>
                </div>
            </div>
            <div class="col-span-full">
                <span class="mb-2 block text-sm text-gray-400">Description (facultative)</span>
                <textarea rows="5" id="description" formControlName="description"
                    placeholder="Saisir la description ici..."
                    class="w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:bg-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
            </div>
        </div>
    </form>
    <div class="flex items-center justify-between py-3">
        <app-custom-button (click)="closeEditerPaiementModal()" text="Annuler" [outlined]="true" color="gray"></app-custom-button>
        <app-custom-button (click)="modifierPaiement()" text="Modifier"></app-custom-button>
    </div>
</app-custom-modal>

<app-custom-modal *ngIf="selectedPaiement" title="Supprimer" subtitle="Déplacer ce paiement d'inscription dans la corbeille. Voulez-vous continuer ?" (onCloseModal)="closeSupprimerPaiementModal()" [center]="true" [showModal]="showSupprimerPaiementModal">
    <div class="flex items-center justify-between py-30">
        <app-custom-button (click)="closeSupprimerPaiementModal()" text="Annuler" [outlined]="true" color="gray"></app-custom-button>
        <app-custom-button (click)="supprimerPaiement()" text="Supprimer" color="red"></app-custom-button>
    </div>
</app-custom-modal> -->