<div class="flex justify-between items-start mb-8">
    <app-header-title title="Maintenances" subtitle="Retrouver la liste de vos maintenances"></app-header-title>
    <div class="flex justify-end items-center">
        <app-custom-button *ngIf="rolesValue.isInstitution || rolesValue.isAdmin"
                           link="/immobilisations/maintenances/nouveau"
                           text="Nouvelle maintenance">
        </app-custom-button>
    </div>
</div>

<div class="flex flex-col">
    <div class="overflow-x-auto">
        <div class="py-2 inline-block min-w-full">
            <div class="overflow-hidden">
                <table class="min-w-full">
                    <thead class="bg-gray-100 border-b">
                        <tr>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-left">
                                <div class="px-2">
                                    #
                                </div>
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-left">
                                <div class="px-2">
                                    Immobilisation
                                </div>
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-left">
                                <div class="px-2">
                                    Date
                                </div>
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-left">
                                <div class="px-2">
                                    Type
                                </div>
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-right">
                                <div class="px-2">
                                    Coût
                                </div>
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-2 py-4 text-left">
                                <div class="px-2">
                                    Prestataire
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="maintenances.length == 0"
                            class="bg-white p-0 border-b transition duration-300 ease-in-out">
                            <td class="text-sm text-center py-4 text-gray-600 font-regular p-0 whitespace-nowrap"
                                colspan="6">Aucune maintenance</td>
                        </tr>
                        <tr *ngFor="let maintenance of maintenances; index as index"
                            class="bg-white hover:bg-gray-100 p-0 border-b transition duration-300 ease-in-out">
                            <td
                                class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div
                                    class="block gap-x-4 border-0 m-0 px-0 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">
                                    {{ index + 1 }}
                                </div>
                            </td>
                            <td
                                class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div class="block w-full h-full border-0 m-0 px-2 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">{{ maintenance.immobilisationId || '---' }}</div>
                            </td>
                            <td
                                class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div class="block w-full h-full border-0 m-0 px-2 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">{{ maintenance.dateMaintenance | date: 'dd MMMM YYYY' }}</div>
                            </td>
                            <td
                                class="bg-transparent text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <app-custom-badge color="blue" [text]="maintenance.type || '---'"></app-custom-badge>
                            </td>
                            <td
                                class="bg-transparent text-right text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div class="block w-full h-full border-0 m-0 px-2 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">{{ maintenance.cout | currency:'XAF' }}</div>
                            </td>
                            <td
                                class="bg-transparent text-sm text-gray-600 font-regular p-0 whitespace-nowrap border-0 m-0 px-2">
                                <div class="block w-full h-full border-0 m-0 px-2 py-4 text-gray-600 bg-transparent sm:text-sm sm:leading-6">{{ maintenance.prestataire || '---' }}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
